@model IEnumerable<DynamicPhotoGallary.Models.Feedback>
@{
    ViewBag.Title = "Pricing";
}
<style>
    .date-span {
        float: right;
        font-size: 13px;
        line-height: 40px;
    }
</style>
<section class="team-main text-center py-5 py-3">
    <!------------------ Hover Effect Style : Demo - 16 --------------->
    <div class="container">
        <!---728x90--->

        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h2 class="title-wthree text-center mb-lg-5 mb-3">Pricing Plans</h2>
            <!---728x90--->
            <div class="row t-in mt-3">
                <div class="col-md-4 price-main-info text-center" data-aos="fade-up">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase mb-3">KID</h4>
                            <h4 class="text-uppercase mb-3">(Normol)</h4>
                            <!-- <h3 class="card-title-wthree pricing-card-title-wthree">
                             Single pic-<span class="align-top">₹</span> 550-A4<br>
                               double- <span class="align-top">₹</span> 650-A4
                               <br><br>
                               Single pic-<span class="align-top">₹</span> 800-A3<br>
                               double- <span class="align-top">₹</span> 1000-A3
                            </h3>
                             -->
                            <h3 class="card-title-wthree pricing-card-title-wthree">
                                <ul class="list-unstyled mt-3 mb-4">

                                    <li>Single -<span class="align-top">₹</span>550-A4</li>
                                    <li> Double- <span class="align-top">₹</span> 650-A4</li>
                                    <li>Single -<span class="align-top">₹</span> 800-A3</li>
                                    <li> Double- <span class="align-top">₹</span> 1000-A3</li>
                                    <li></li>
                                </ul>
                            </h3>
                            <div class="log-in mt-md-3 mt-2">
                                <a class="hover-2 btn text-uppercase" href="@Url.Action("contact", "home", new { pack = "gold" })">For Enquiry</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 price-main-info text-center" data-aos="fade-up">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase mb-3">LEGEND</h4>
                            <h4 class="text-uppercase mb-3">(with frame)</h4>
                            <!-- <h3 class="card-title-wthree pricing-card-title-wthree">
                                Single pic-<span class="align-top">₹</span> 550-A4<br>
                                double- <span class="align-top">₹</span> 650-A4
                                <br><br>
                                Single pic-<span class="align-top">₹</span> 800-A3<br>
                                double- <span class="align-top">₹</span> 1000-A3

                            </h3> -->
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>  Single pic-<span class="align-top">₹</span> 550-A4<br></li>
                                <li>  double- <span class="align-top">₹</span> 650-A4</li>
                                <li>Single pic-<span class="align-top">₹</span> 800-A3</li>
                                <li> double- <span class="align-top">₹</span> 1000-A3</li>
                                <li></li>
                            </ul>
                            <div class="log-in mt-md-3 mt-2">
                                <a class="hover-2 btn text-uppercase" href="@Url.Action("contact", "home", new { pack = "diamond" })">For Enquiry</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 price-main-info text-center" data-aos="fade-up">
                    <div class="price-inner card box-shadow">

                        <div class="card-body">
                            <h4 class="text-uppercase mb-3">ULTRA LEGEND</h4>
                            <h4 class="text-uppercase mb-3">(Frame+Laminate)</h4>
                            <!-- <h3 class="card-title-wthree pricing-card-title-wthree">
                                Single pic-<span class="align-top">₹</span> 550-A4<br>
                                double- <span class="align-top">₹</span> 650-A4
                                <br><br>
                                Single pic-<span class="align-top">₹</span> 800-A3<br>
                                double- <span class="align-top">₹</span> 1000-A3

                            </h3> -->
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Single -<span class="align-top">₹</span> 550-A4</li>
                                <li> double- <span class="align-top">₹</span> 650-A4</li>
                                <li> Single pic-<span class="align-top">₹</span> 800-A3</li>
                                <li>double- <span class="align-top">₹</span> 1000-A3 </li>
                                <li></li>
                            </ul>
                            <div class="log-in mt-md-3 mt-2">
                                <a class="hover-2 btn text-uppercase" href="@Url.Action("contact", "home", new { pack = "diamond" })">For Enquiry</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 main_grid_contact">
            <div class="form">
                <h4 class="mb-4 text-left">FEEDBACK</h4>
                <form action="#" method="post">
                    <div class="form-group">
                        <label class="my-2">Name</label>
                        <input class="form-control" type="text" id="name" name="Name" placeholder="">
                    </div>

                    <div class="form-group">
                        <label>Your comments</label>
                        <textarea id="textarea" placeholder=""></textarea>
                    </div>
                    <div class="input-group1">
                        <input class="form-control" id="feedbackbtn" type="button" style="cursor:pointer;" value="Submit">
                    </div>


                </form>
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="col-lg-6 main_grid_contact">
                <div class="feedback" id="feedbackP">
                    @foreach (var item in Model)
                    {
                        <div class="form-group">
                            <label class="my-2">@item.Name</label><span class="date-span">@item.Date.ToString()</span>
                            <p>@item.Comment</p>
                        </div>
                    }

                    @*<div class="form-group">
            <label class="my-2">balaji</label>
            <p>comments</p>
        </div>
        <div class="form-group">
            <label class="my-2">balaji</label>
            <p>comments</p>
        </div>
        <div class="form-group">
            <label class="my-2">balaji</label>
            <p>comments</p>
        </div>
        <div class="form-group">
            <label class="my-2">balaji</label>
            <p>comments</p>
        </div>
        <div class="form-group">
            <label class="my-2">balaji</label>
            <p>comments</p>
        </div>
        <div class="form-group">
            <label class="my-2">balaji</label>
            <p>comments</p>
        </div>*@

                </div>
            </div>
        }

    </div>
</div>
<script src="~/Scripts/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#name').val('');
        $('#textarea').val('');
        $('#feedbackbtn').click(function () {
            var name = $('#name').val();
            var comment = $('#textarea').val();

            if (name.trim() == '' || comment.trim() == '') {
                alert("Name and Comment should not be empty.");
            }
            else {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("UpdateFeedback","Home")',
                    dataType: 'application/json',
                    data: { 'Name': name, 'Comment': comment},
                    complete: function (data) {                           
                        var template = `<div class="form-group">
                                            <label class="my-2">${name}</label> <span class='date-span'>${data.responseText.replace(/\"/g,"")}</span>
                                            <p>${comment}</p>
                                        </div>`;
                        $('#feedbackP').prepend(template);
                        $('#name').val('');
                        $('#textarea').val('');
                    },
                    error: function (error) {
                        //console.log(error);
                    }
                });
            }
        });
    });
</script>